* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --corfundo: #002355;
    --font1: 'Montserrat', sans-serif;

}

body {

    background-color: #002355;
    font-family: var(--font1);


}

.text1 {


   
    height: 223px;
    left: 78px;


    font-family: var(--font1);
    font-style: normal;
    font-weight: 1000;
    font-size: 50px;
    line-height: 81px;
    text-align: center;

    color: #FFFFFF;

    -webkit-text-stroke: 2px black;


}

.seta_esq{

    
  top: 0;
  left: 0;
  margin-top: 400px;
  
}

.seta_dir{

    position: absolute;
  top: 0;
  right: 0;
  margin-top: 400px;
}

.botao_volta{

    margin-right: 50px;
}


.linha{

    
    position: absolute;
    width: 800px;
    
    top: 306px;
    
    border: 5px solid #FFFFFF;



}

.div_login {

    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;


}

.div_oi{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_sensivel{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;


}

.div_luta{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.div_send{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #a4a4a4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icons{

    display: flex;
    justify-content: space-between;
}

.descrit_icons{

    color: #FFFFFF;
    display: flex;
   padding: 30px;
    align-items: center;
    margin-left: 20px;
}

h2{

    color: #FFFFFF;
}



main{

    width: 95%;
    margin: 0 auto;
    display: flex;

}

.imagens_vector{

    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.section_esquerda{

    width: 60%;
    padding: 20px;
    
    
}

.descrit_icons{
display: flex;

font-weight: 700;
margin-bottom: 50px;
font-size: 23px;
justify-content: space-between;
align-items: center;

}



.info{

    width: 60%;
    

}

.section_direita{

    width: 40%;
    display: flex;
    flex-direction: column;
}



.logo_vw_dire{

    
  height: 150px; 
  position: absolute;
  top: 0;
  margin-left: 155px;
  margin-top: 50px;
  
  
}

.quadrado_dire{

    width: 457px;
height: 680px;
}

.section_direita{
    position: relative;
    width: 40%;
    padding: 40px;
    align-items: center;
}



.text_ad{

    color: black;
    
    font-weight: 900;
font-size: 39.96px;
text-align: center;

margin-top: -600px;


}

.imputs{

    position: absolute;
  top: 0;
  margin-top: 120px;
  padding: 23%;
  display: grid;
  grid-gap: 40px;
  max-width: 300%;
  height: auto;
}

.inf_imputs{

    
  top: 0;
  font-size: 25px;
 margin-top: -380px;
  padding: 23%;
  display: grid;
  grid-gap: 80px;
  margin-right: 300px;
  align-items: center;
}

.inf_imputs .id{
    margin-top: 10px;
}

.imagens_direita{

    margin-top: 50px;
  
}

.bt_enviar{

   
    
    box-sizing: border-box;
    margin-top: -70px;
    


width: 200px;
height: 70px;
left: 1347px;
top: 823px;

background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
border: 6px solid rgba(255, 255, 255, 0.41);
box-shadow: 4.44px 5.92px 8.14px rgba(0, 0, 0, 0.25);
border-radius: 39.22px;
}

.tc_enviar{

    color: #002355;
    box-sizing: border-box;
    font-size: 45px;
    font-weight: 700;
    
    padding: 30px;
    text-decoration: none;
    
}
.robo{

    margin-left: 450px;
    margin-top: -140px;
    width: 250px;
}

.borda_imputs{

    width: 420px;
height: 70px;
flex-shrink: 0;

border-radius: 39.22px;
border: 3px solid #00101F;
box-shadow: 4.440001010894775px 5.920001029968262px 8.140003204345703px 0px rgba(0, 0, 0, 0.25);

margin-top: 50px;
}

.borda_imputs2{

    width: 420px;
height: 70px;
flex-shrink: 0;

border-radius: 39.22px;
border: 3px solid #00101F;
box-shadow: 4.440001010894775px 5.920001029968262px 8.140003204345703px 0px rgba(0, 0, 0, 0.25);



}

.borda_imputs3{

    width: 420px;
height: 70px;
flex-shrink: 0;

border-radius: 39.22px;
border: 3px solid #00101F;
box-shadow: 4.440001010894775px 5.920001029968262px 8.140003204345703px 0px rgba(0, 0, 0, 0.25);


    
    
}

.imput_alinh{

    display: grid;
    grid-gap: 30px;
}

main {
    transform: scale(0.8);
    margin-top: -65px;
    position: relative;
  }

  body {
    overflow: hidden;
  }